@{
    ViewBag.Title = "";
}
@model Entity.Models.Product
<link href="/Content/bootstrap.css" rel="stylesheet" />
<h2>编辑规则</h2>
@if (null != TempData["res"])
{ <font color="red">@TempData["res"]</font>}
@{
    var item = ConfigHelper.Controllers.HomeController.GetAllItem();
    var itemList = new List<SelectListItem>();
    foreach (var i in item)
    {
        itemList.Add(new SelectListItem() { Value = i.ID.ToString(), Text = i.Name });
    }

    var builds = ConfigHelper.Controllers.HomeController.GetAllBuild();
    var buildList = new List<SelectListItem>();
    foreach (var b in builds)
    {
        buildList.Add(new SelectListItem() { Text = b.Name, Value = b.ID.ToString() });
    }
    
}
<div style="width:500px;padding-left:10px">
    <form action="/Home/ProductEdit" method="post" id="form" class="form-horizontal">

        @Html.Hidden("ID", Model.ID)
        <div class="form-group">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">人工</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Workers" name="Workers" value="@Model.Workers">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Time" name="Time" value="@Model.Time">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">作坊</label>
            <div class="col-sm-10">
                @Html.DropDownList("Building",buildList)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">原材料</label>
            <div class="col-sm-10">
                @Html.DropDownList("item1", itemList)
                &nbsp;&nbsp;数量
                <input type="text" id="item1num" value="" />
                &nbsp;&nbsp;
                <button type="button" id="item1add" class="btn btn-primary btn-sm">添加</button>
            </div>
        </div>
        <div class="form-group">
            <table id="resourceTable" class="table">
                <tr>
                    <th>物品</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">成品</label>
            <div class="col-sm-10">
                @Html.DropDownList("item2", itemList)
                &nbsp;&nbsp;数量
                <input type="text" id="item2num" value="" />
                &nbsp;&nbsp;
                <button type="button" id="item2add" class="btn btn-primary btn-sm">添加</button>
            </div>
        </div>
        <div class="form-group">
            <table id="productTable" class="table">
                <tr>
                    <th>物品</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
            </table>
        </div>
        <input type="hidden" name="Resource" id="hidResource" value="" />
        <input type="hidden" name="Products" value="" id="hidProduct" />
        <button type="submit" id="sub" class="btn btn-default">保存</button>
    </form>
</div>
<script src="/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    (function ($) {
        var resource = [],
            productor = [],
            item1sel = $("#item1"),
            item1num = $("#item1num"),
            resourceTable = $("#resourceTable"),
            item2sel = $("#item2"),
            item2num = $("#item2num"),
            productTable = $("#productTable"),
            addTableItem = function (j, table, dataCollector) {
                var html = "<tr><td>" + j.Name + "</td><td>" + j.Num + "</td><td id=" + j.ID + " style='cursor:pointer' value='" + j.ID + "' >删除</td></tr>";
                table.append(html);
                $("#" + j.ID).click(function () { deleteItem(dataCollector, $(this)); });
            },
            checkExitst = function (id, dataCollector) {
                for (var i = 0; i < dataCollector.length; i++) if (dataCollector[i].ID == id) return true;
                return false;
            },
            getSel1Text = function (id, itemSel) {
                var sel = itemSel[0];
                for (var i = 0; i < sel.options.length; i++) {
                    if (sel.options[i].value == id) return sel.options[i].text;
                }
            },
            addItem = function (itemSel, itemNum, dataCollector, table) {
                var itemID = itemSel.val().toString(),
                    itemName = getSel1Text(itemID, itemSel),
                    itemNum = itemNum.val();
                if (/^\d+$/.test(itemNum) == false) return false;
                if (checkExitst(itemID, dataCollector)) {
                    alert("该资源已经存在");
                    return false;
                }
                var j = { "ID": itemID, "Num": itemNum, "Name": itemName };
                var jNonName = { "ID": itemID, "Num": itemNum };
                dataCollector.push(jNonName);
                addTableItem(j, table, dataCollector);
            },
            deleteItem = function (dataCollector, $this) {
                var v = $this.attr("value");
                for (var i = 0; i < resource.length; i++) {
                    if (dataCollector[i].ID == v) {
                        dataCollector.splice(i, 1);
                        break;
                    }
                }
                $this.parent().remove();

            },
            bindFunc1 = function () {
                addItem(item1sel, item1num, resource, resourceTable)
            },
            bindFunc2 = function () {
                addItem(item2sel, item2num, productor, productTable);
            }
        $("#item1add").click(bindFunc1);
        $("#item2add").click(bindFunc2);
        $("#sub").click(function () {           
            $("#hidResource").val(JSON.stringify(resource));
            $("#hidProduct").val(JSON.stringify(productor));
            $("#form").submit();
            return false;
        });

    }(jQuery));
</script>